<div class="bg-black text-white text-center py-4">
    <div class="container">
        <p class="mb-0">&copy;  @info</p>
    </div>
</div>
@code{
    [Parameter, EditorRequired]public string info {get;set;}
}