div[b-2961uadddg]{
    margin-left: 40px;
}
div.card img[b-2961uadddg]{
    height: 300px;
    object-fit: cover;
    object-position: top;  
}

div.card[b-2961uadddg] {
    transition: transform 0.3s ease ;
    transform: translateY(0);
    position: relative; 
}

div.card:hover[b-2961uadddg] {
    transform:  translateY(-20px);
}


